<!doctype html>
<html>
  <head>
    <title>Register for <%=ForumName%></title>
    <link rel="stylesheet"  type="text/css" href="register.css" />
  </head>
  <body>
    <h1>Register for <%=ForumName%></h1>
    <!--Text displayed at the top of the page.-->
    <form method="POST" action="/registered">
        <p>First name: <input id="first" type="text" name="first" value="first name" /></p>
        <p>Last name: <input id="last" type="text" name="last" value="last name" /></p>
        <p>Username <input id="user" type="text" name="username" value="Enter your username" /></p>
        <p>Email: <input id="email" type="email" name="email" value="email" /></p>
        <input type="submit" value="Register" />
      </form>
       <!--We have forms which prompt the user to input the First, Last name and the email. The app saves what is inputted and outputs the results by referencing the keyword
      as req.body.first, req.body.last and req.body.email.-->
  </body>
</html>