body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/227/306/non_2x/crumpled-paper-texture-free-photo.jpg");
    text-align:center;
    background-size: cover;
    backdrop-filter: blur(10px);
}

h1 {
    color: #333;
    text-align: center;
}

li {
    list-style-type: none;
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}
  